extends layout_editor

block content_editor
  script.
    $('#liView').attr('class','active');
    $('#liEdit').attr('class','');

  if (entry) 
    div(id='content') 
      !{contentHtml}
     
  if (!entry)
    h1 Editing #{entry.name}
    a(href="/entry_editor") edit #{entry.name}
    
  
