extends layout_editor

block content_editor
  br
  div  
    form#frmUploader(enctype='multipart/form-data', action='/upload/#{entry.name}', method='post')
      .form-group
        input(id='file' type='file', name='imgUploader', multiple='')
      .form-group
        input#btnSubmit(type='submit', name='submit', value='Upload')
        if(result)
          p#result
            |#{result}
      
  script.
    $(function() {
      $('#liView').attr('class','');
      $('#liEdit').attr('class','');
      $('#liUpload').attr('class','active');
    });
